
.captcharefresh {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.captchaBackground {
  height: 60px;
  width: auto;
  max-width: 100%;
  /*background-color: #7b807f;*/
  background-color: #f8f8f8;
  background-image: url("https://www.transparenttextures.com/patterns/light-toast.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.redText {
  color: #a03146;
  font-weight: bold;
}
.greenText {
  color: #1a3815;
  font-weight: bold;
}